.remove-image {
    position: absolute;
    top: 0;
    right: 0;
}
#modalOverlay{
    z-index: 9999999;
}
.programCard {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}
.programCard:hover {
    border-color: #007bff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.programCard:active {
    border-color: #007bff;
}
.statustag {
    position: absolute!important;
    top: 10px!important;
    right: 10px!important;
}
.truncatetext {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}